button {
  background-color: var(--dwc-green);
  border: none;
  border-radius: 4px;
  color: var(--dwc-white);
  cursor: pointer;
  font-size: var(--dwc-font-medium);
  font-weight: 500;
  height: var(--dwc-button-height);
  margin: 5px;
  min-width: 100px;
  outline: none;
  padding: 0 16px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
button.outline:not(:disabled) {
  background-color: transparent;
  color: var(--dwc-default);
  border: 1px solid var(--dwc-default);
}
button.outline:not(:disabled):hover {
  border: 1px solid var( --dwc-input-border-hover);
}
button:disabled {
  background-color: var(--dwc-button-disabled-bg);
  border-bottom-color: var( --dwc-button-disabled);
  color: var( --dwc-button-disabled);
  pointer-events: none;
}
button:hover {
  filter: brightness(105%);
}
button:active {
  filter: brightness(95%);
}
