button {
  background-color: var(--dwc-green);
  border: none;
  border-radius: 0.25rem;
  color: var(--dwc-white);
  cursor: pointer;
  font-size: var(--dwc-font-medium);
  font-weight: 500;
  display: block;
  max-height: 2.25rem;
  min-width: 6.25rem;
  max-width: 9.375rem;
  outline: none;
  padding: 0.625rem 1rem;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
button.block:not(:disabled) {
  max-width: 100%;
}
button:disabled {
  background-color: var(--dwc-button-disabled-bg);
  border-bottom-color: var( --dwc-button-disabled);
  color: var( --dwc-button-disabled);
  pointer-events: none;
}
button:hover {
  filter: brightness(105%);
}
button:active {
  filter: brightness(95%);
}
