:root {
  --dwc-black: #000;
  --dwc-button-disabled: rgba(0, 0, 0, 0.26);
  --dwc-button-disabled-bg: rgba(0, 0, 0, 0.12);
  --dwc-button-height: 36px;
  --dwc-green: #50bc91;
  --dwc-input-border: rgba(0,0,0,.3);
  --dwc-input-border-hover: rgba(0,0,0,.87);
  --dwc-white: #fff;
  --dwc-font-medium: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
}
